<h1>Listing s_handles</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @s_handles.each do |s_handle| %>
  <tr>
    <td><%= s_handle.job_id %></td>
    <td><%= s_handle.description %></td>
    <td><%= link_to 'Show', s_handle %></td>
    <td><%= link_to 'Edit', edit_s_handle_path(s_handle) %></td>
    <td><%= link_to 'Destroy', s_handle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New S handle', new_s_handle_path %>
