<p id="notice"><%= notice %></p>

<p>
  <b>工作編號:</b>
  <%= @s_handle.job_id %>
</p>

<p>
  <b>描述:</b>
  <%= @s_handle.description %>
</p>

<%=link_to "到stage2",{:controller=>:main, :action=>:informUser, :id=> @s_handle.job_id  }%>|
<%= link_to '編輯', edit_s_handle_path(@s_handle) %> |
<%= link_to '回工作列表', root_url%>|
<%=link_to "到stage4",{:controller=>:main, :action=>:reportUser, :id=> @s_handle.job_id }%>