<h3>Statistics from <%=@time.strftime('%F 00:00:00')%> to <%=@time.strftime('%F 23:59:59')%></h3>
</br>
<table border="1">
<tr>
	<th>事件ip</th>
	<th>單位名稱</th>
	<th>事件名稱</th>
	<th>開單日期</th>
	<th>最後發生時間</th>
	<th>記錄次數</th>
</tr>
<% exp_ips = ['140.113.1.1', '140.113.6.2', '140.113.250.135']%>
<% @jds.reject{|d| exp_ips.include? d.src_ip}.each do |jd|%>
<tr>
	<td><%=jd.src_ip%></td>
	<td>
		<% im = IpMap.where('ip=?',jd.src_ip).last %>
		
		<% if im %>
			<% if im.campus_buildings_list%>
				<%=im.campus_buildings_list.building_name%> 
			<% end %>
			<%=im.room%>
		<% end %>
	</td>
	<td>
		<%=eventMapNameShowing(jd.job).html_safe%>
	</td>
	<td>
		<%= jd.job.created_at.strftime("%F %T")%>
	</td>

	<td><%=jd.updated_at.strftime("%F %T")%></td>
	<td><%=jd.log_count.to_s%></td>
</tr>
<% end %>
</table>