<h1>事件處理</h1>
<br>
<%= render :partial => "comment_detail_form", :locals => { :comment => @comment } %>

<%= form_tag do%>
	<h1>處理紀錄</h1>
	<br>
	<div class="field">
		<%= text_area_tag :content %>
	</div>
	<%= hidden_field_tag 'id', @comment.id%>
	<%= hidden_field_tag 'adm_id', @comment.assigning_adm_user_id%>	
    <%=submit_tag "送出"%>
  </div>
<% end %>