<%= form_for(@event_map) do |f| %>
  <% if @event_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_map.errors.count, "error") %> prohibited this event_map from being saved:</h2>

      <ul>
      <% @event_map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :事件ID %><br />
    <%= f.text_field :thread_id %>
  </div>
  <div class="field">
    <%= f.label :事件名稱 %><br />
    <%= f.text_area :name ,:size=>"100x6"%>
  </div>
  <div class="field">
	事件名稱(中文)<br />
    <%= f.text_area :chinese_name ,:size=>"100x6" %>
  </div>
  <div class="field">
    <%= f.label :事件描述 %><br />
    <%= f.text_area :description ,:size=>"100x6" %>
  </div>
  <div class="field">
	事件描述(中文)<br />
    <%= f.text_area :chinese_description ,:size=>"100x6" %>
  </div>
  <div class="field">
    <%= f.label :建議處理事項 %><br />
    <%= f.text_area :suggestion ,:size=>"100x6" %>
  </div>
  <div class="actions">
    <%= f.submit '送出' %>
  </div>
<% end %>
