<div class="menu_border_blue">
<span id="my_button"><%= link_to '編輯', edit_event_map_path(@event_map) %></span> 
<span id="my_button"><%= link_to '回上一頁', event_maps_path %></span> 
</div>

<p>
  <b>事件ID:</b>
  <%= @event_map.thread_id %>
</p>

<p>
  <b>事件名稱:</b>
  <%= @event_map.name %>
</p>

<p>
  <b>事件名稱(中文):</b>
  <%= @event_map.chinese_name %>
</p>

<p>
  <b>事件描述:</b>
  <%= @event_map.description %>
</p>

<p>
  <b>事件描述(中文):</b>
  <%= @event_map.chinese_description %>
</p>

<p>
  <b>建議處理事項:</b>
  <%= @event_map.suggestion %>
</p>