<table style="filter:Alpha(Opacity=20, FinishOpacity=80, Style=1)" border=1 width=60% ;background-color: rgb(255, 255, 255)>
<tbody>
<%if params[:chtime][:category]=='1'%>
	<tr><td colspan=5 bgcolor=#FFCC99>時間 : <font color="ff0000"> <%=params[:d1]%>~<%=params[:d2]%> </font></td></tr>
<%end%>
<%if params[:chip][:category]=='1'%>
	<tr><td colspan=5 bgcolor=#FFCC99>指定ip : <font color="ff0000">  <%=params[:ip1]%>.<%=params[:ip2]%>.<%=params[:ip3]%>.<%=params[:ip4]%></font></td></tr>
<%end%>
<tr><td colspan=5 bgcolor=#FFCC99>總件數 : <font color="ff0000">111</font></td></tr>
		 <tr>
		   <td bgcolor=#006633><font color=#fffff>單位名稱</font></td>
		   <td bgcolor=#006633><font color=#fffff>事件來源端IP</font></td>
		   <td bgcolor=#006633><font color=#fffff>事件名稱</font></td>   	 	
		   <td bgcolor=#006633><font color=#fffff>事件發生時間</font></td>
		   <td bgcolor=#006633><font color=#fffff>事件結案時間</font></td>
		 </tr>
		 <%@Res.each do |j|%>
			 <tr>		   
				<td><b><%=check_dep(j)%></b></td>		
				<td><b><%=j.src_ip.to_s%></b></td>					
			    <td><b><%=showAllThreatsName(j)%></b></td>
				<td><b><%=j.job.updated_at%></b></td>
				<td><b><%=check_finish(j)%></b></td>
			 </tr>		 
		 <%end%>
		
</tbody>
</table>