<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', '統計數量'],  
      <%if @res.count==0%>
          [0,0]      
      <%elsif @type.to_i==0%>    
          <%temp=0%>
          <%@res2.each do |r|%>
	          <%if r.t.to_i > temp.to_i%>
	            <%while temp.to_i!=r.t.to_i%>         
	          		["<%=temp.to_s%>:00",0],
	          		<%temp=temp+1%>
	          	<%end%>
	          	["<%=r.t.to_s%>:00",<%=r.total.to_s%>],
	          <%else%>
	          	["<%=r.t.to_s%>:00",<%=r.total.to_s%>],
	          <%end%>	
	          <%temp=temp+1%>
          <%end%>
          <%if temp!=24%> 	
          	<%while temp!=24 do%>
          		["<%=temp.to_s%>:00",0],
          		<%temp=temp+1%>
          	<%end%>
          <%end%>
      <%elsif @type.to_i==1%>
      	<%=diff_7day(@d1,@res2).to_s%>
      <%elsif @type.to_i==2%>
      	<%temp=1%>
          <%@res2.each do |r|%>
	          <%if r.t.to_i > temp.to_i%>
	            <%while temp.to_i!=r.t.to_i%>         
	          		["<%=number_to_month(temp)%>",0],
	          		<%temp=temp+1%>
	          	<%end%>
	          	["<%=number_to_month(r.t)%>",<%=r.total.to_s%>],
	          <%else%>
	          	["<%=number_to_month(r.t)%>",<%=r.total.to_s%>],
	          <%end%>	
	          <%temp=temp+1%>
          <%end%>
          <%if temp!=13%> 	
          	<%while temp!=13 do%>
          		["<%=number_to_month(temp)%>",0],
          		<%temp=temp+1%>
          	<%end%>
          <%end%>
      <%elsif @type.to_i==3%>    
      	<%@res2.each do |r|%>         
	       ["<%=r.d.strftime("%m/%d")%>",<%=r.total.to_s%>],  
        <%end%>
      <%end%>       
        ]);

        var options = {
          title: '分布圖',
          vAxis: {minValue: 1}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div2" ></div></br>
  </body>
</html>