<table style="filter:Alpha(Opacity=20, FinishOpacity=80, Style=1)" border=1 width=60% ;background-color: rgb(255, 255, 255)>
<tbody>
<%if params[:chtime][:category]=='1'%>
	<tr><td colspan=3 bgcolor=#FFCC99>時間 : <font color="ff0000"> <%=params[:d1]%>~<%=params[:d2]%> </font></td></tr>
<%end%>
<%if params[:chip][:category]=='1'%>
	<tr><td colspan=3 bgcolor=#FFCC99>指定ip : <font color="ff0000">  <%=params[:ip1]%>.<%=params[:ip2]%>.<%=params[:ip3]%>.<%=params[:ip4]%></font></td></tr>
<%end%>
<tr><td colspan=3 bgcolor=#FFCC99>總件數 : <font color="ff0000"> <%=count_stage(@Res)%> </font></td></tr>
		 <tr>
		   <td bgcolor=#006633><font color=#fffff>流程</font></td>
		   <td bgcolor=#006633><font color=#fffff>件數</font></td>
		   <td bgcolor=#006633><font color=#fffff>平均停留處理時間(小時)</font></td>
		 </tr>
		 <tr>
		   <td bgcolor=#CCFF00>Stage 1 (尚未指派)</td>
		   <td><b><%=params[:un]%></b></td>
		   <td><b>N/A</b></td>
		 </tr>
		 <tr>
		   <td bgcolor=#CCFF00>stage 2 (網管通知)</td>
		   <td><b><%=params[:st2]%></b></td>
		   <td><b><%=params[:avg_st2]%></b></td>
		 </tr>
		 <tr>
		   <td bgcolor=#CCFF00>Stage 3 (單位網管處理)</td>
		   <td><b><%=params[:st3]%></b></td>
		   <td><b><%=params[:avg_st3]%></b></td>
		 </tr>
		 <tr>
		   <td bgcolor=#CCFF00>Stage 4 (被指派人確認)</td>
		   <td><b><%=params[:st4]%></b></td>
		   <td><b><%=params[:avg_st4]%></b></td>
		 </tr>  
		 <tr>
		   <td bgcolor=#CCFF00>Stage 5 (管理員結案)</td>
		   <td><b><%=params[:st5]%></b></td>
		   <td><b><%=params[:avg_st5]%></b></td>
		 </tr>  		 
		 <tr>
		   <td bgcolor=#CCFF00>     已結案  </td>
		   <td><b><%=params[:finish]%></b></td>
		   <td><b>N/A</b></td>
		 </tr>
</tbody>
</table>
<br>

<%= image_tag(Gchart.pie(:data => [params[:st2],params[:st3],params[:st4],params[:st5]], :title => 'Count Chart', :size => '400x200', :labels => ['網管通知','單位網管處理','被指派人確認','管理員結案'])) %>