<%= form_tag do%>
	<!---  radio_button(一組name(array name) ,array index , index value)  --->
 <h1>Output form : </h1>
1.<br> List  By 狀態<%= radio_button("chbox", "category", 0,checked:true, :onchange=>"showlist(0);")%>  <br>
       List  By 系所<%=radio_button("chbox", "category", 1, :onchange=>"showlist(0);")%>  <br>
	   List  By 事件<%=radio_button("chbox", "category", 2, :onchange=>"showlist(0);")%> <br>
	   List  By 事件等級<%=radio_button("chbox", "category", 3, :onchange=>"showlist(1);")%>
	 <!--  <%= select_tag "serverity", options_for_select(@serverity) %> -->
<br><br>
2.<br> <%= radio_button("chtime", "category", 1)%>指定時段 : 
 From
<input type="text" id="dp1" name="d1">
 To 
<input type="text" id="dp2" name="d2">
  <br> <%= radio_button("chtime", "category", 0,checked:true)%>不指定  <font color="ff0000">* 起點為2013/5/1   </font>
<br>
<br>
3.<br> <%= radio_button("chip", "category", 1)%>指定ip網段 :  
<%= text_field_tag :ip1, '*', :maxlength => 3, :size => 1%>.
<%= text_field_tag :ip2, '*', :maxlength => 3, :size => 1%>.
<%= text_field_tag :ip3, '*', :maxlength => 3, :size => 1%>.
<%= text_field_tag :ip4, '*', :maxlength => 3, :size => 1%>  ( * 或 不填入 為不指定)
  <br> <%= radio_button("chip", "category", 0,checked:true)%>不指定
<br><br>
<%=submit_tag "查詢" %><br><br>

<%end%>

<script type="text/javascript">
/*
$(function(){$("#serverity").hide();});
  $('#dp1').datetimepicker({	
  });
   $('#dp2').datetimepicker({
  });
  function showlist(show){
	if(show==1){
		$("#serverity").show();
		show=1;
	}
	else{
		$("#serverity").hide();
		show=0;
	}
  }
  */
</script>
<br>

<br>
<%if day7_image(@Res)!=0%>
<%= image_tag(Gchart.pie :labels => params[:labels7],
                   :data => params[:data7],          
				   :title => '近七日事件發生分佈圖'
                   ) %>
<%end%>