
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', '統計數量'],
      <%if @type.to_i==0%>    
          <%temp=0%>
          <%@res.each do |r|%>
	          <%if r.t.to_i > temp.to_i%>
	            <%while temp.to_i!=r.t.to_i%>         
	          		["<%=temp.to_s%>:00",0],
	          		<%temp=temp+1%>
	          	<%end%>
	          	["<%=r.t.to_s%>:00",<%=r.total.to_s%>],
	          <%else%>
	          	["<%=r.t.to_s%>:00",<%=r.total.to_s%>],
	          <%end%>	
	          <%temp=temp+1%>
          <%end%>
          <%if temp!=24%> 	
          	<%while temp!=24 do%>
          		["<%=temp.to_s%>:00",0],
          		<%temp=temp+1%>
          	<%end%>
          <%end%>
      <%elsif @type.to_i==1%>
      	  ["bbb",1],
      	["qweq",2],
      	["123",3]
      <%else%>
      	["aaa",1],
      	["qweq",2],
      	["123",3]
      <%end%>    
        ]);

        var options = {
          title: '分布圖',
          hAxis: {title: '時',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 1}
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
   
  </body>
</html>

