<%=form_tag do%>
	2013年<%=select_tag :month,options_for_select(@ary_m)%>月</br>
	<!--From<input type="text" id="dp1" name="d1">To<input type="text" id="dp2" name="d2"></br>-->
	<%=submit_tag '查詢'%>
<%end%></br>
<%if @flag==1%>
<p align=center>2013年<%=@d_mon.to_s%>月</p>
</br>
<table border="1" id="event_lists_table" width="115%">	
	<tr bgColor="CDCDC1">
		<td width="5%">Serverity</td>
		<td width="25%">Top 10 Threat ID</td>
		<td width="10%">Threat Type</td>
		<td width="5%">Sessions </td>
		<td width="24%">來源地點</td>
		<td width="26%">受害地點</td>
		<td width="20%">時間曲線圖</td>
	</tr>
	<%@res.each do |r|%>
		<tr>
			<%ser = JobThreat.where("threat_id=?",r.threat_id).first%>
			<td>
				<%if not ser.blank? and not ser.serverity.blank? %>
					<%=ser.serverity.to_s%>
				<%else%>
					No Classified
				<%end%>
			</td>		
			<%em =  EventMap.where("thread_id=?",r.threat_id).first %>
				<% if not em.blank? %>
					<%if not em.name.blank?%>
						<td><%=em.name.to_s%>(<%=r.threat_id.to_s%>)</td>
					<%else%>
						<td>(<%=r.threat_id%>)</td>
					<%end%>	
				<%else%>
					<td>Not Record Event Id(<%=r.threat_id%>)</td>
				<%end%>
				
				<%if not em.blank? and not em.threat_type.blank?%>
					<td><%=em.threat_type.to_s%></td>
				<%else%>
					<td>No Record</td>	
				<%end%>
				
			<td><%=r.total.to_s%></td>
			<td><%=show_splace(r.threat_id,@d1,@d2)%></td>
			<td><%=show_vplace(r.threat_id,@d1,@d2)%></td>
			<td><%=link_to "分布圖" ,:action=>"show_chart" ,:threat_id=>r.threat_id,:d1=>@d1,:d2=>@d2%></td>
		</tr>
	<%end%>
</table>	
<%end%>



<script type="text/javascript">
  $('#dp1').datetimepicker({	
  });
   $('#dp2').datetimepicker({
  });
</script>