<%=form_tag do%>
	<font size="3">搜尋條件 ： From <%= text_field_tag :dp1,Time.now.ago(1.month).strftime("%Y/%m/%d")%> To <%= text_field_tag :dp2,Time.now.strftime("%Y/%m/%d")%></font>
	<%=submit_tag '查詢',:disable_with => "請稍後...",:id=>"but"%></br><div id="alert_msg"></div>
<%end%></br>
<%if @flag==1%>
<div style="text-align:center"><font size="3">搜尋時間 ：<b> <%=@d1.strftime("%Y/%m/%d")%> ~ <%=@d2.strftime("%Y/%m/%d")%> </b></font></div></br>
<table border="1" id="event_lists_table" width="115%">	
	<tr bgColor="CDCDC1">
		<td width="5%">Serverity</td>
		<td width="25%">Top 10 Threat ID</td>
		<td width="10%">Threat Type</td>
		<td width="5%">Sessions </td>
		<td width="24%">來源地點</td>
		<td width="26%">受害地點</td>
		<td width="20%">時間曲線圖</td>
	</tr>
	<%@res.each do |r|%>
		<tr>
			<%ser = JobThreat.where("threat_id=?",r.threat_id).first%>
			<td>
				<%if not ser.blank? and not ser.serverity.blank? %>
					<%=ser.serverity.to_s%>
				<%else%>
					No Classified
				<%end%>
			</td>		
			<%em =  EventMap.where("thread_id=?",r.threat_id).first %>
				<% if not em.blank? %>
					<%if not em.name.blank?%>
						<td><%=em.name.to_s%>(<%=r.threat_id.to_s%>)</td>
					<%else%>
						<td>(<%=r.threat_id%>)</td>
					<%end%>	
				<%else%>
					<td>Not Record Event Id(<%=r.threat_id%>)</td>
				<%end%>
				
				<%if not em.blank? and not em.threat_type.blank?%>
					<td><%=em.threat_type.to_s%></td>
				<%else%>
					<td>No Record</td>	
				<%end%>
				
			<td><%=r.total.to_s%></td>
			<td><%=show_splace(r.threat_id,@d1,@d2)%></td>
			<td><%=show_vplace(r.threat_id,@d1,@d2)%></td>
			<td><%=link_to "分布圖" ,:action=>"show_chart" ,:threat_id=>r.threat_id,:d1=>@d1,:d2=>@d2,:threat_id=>r.threat_id%></td>
		</tr>
	<%end%>
</table>	
<%end%>



<script type="text/javascript">
  $('#dp1').datepicker({	
  	dateFormat: 'yy/mm/dd',
  	showOn: "button",
		buttonImage: "<%=image_path("calendar.png")%>",
		buttonImageOnly: true
  });
   $('#dp2').datepicker({
   	dateFormat: 'yy/mm/dd',
   	showOn: "button",
	buttonImage: "<%=image_path("calendar.png")%>",
	buttonImageOnly: true
  });
  
  
  $( "#dp1,#dp2" ).change(  
  	function(){
  		var d1_date = document.getElementById("dp1").value ;
		var d2_date = document.getElementById("dp2").value ;
  		var date1 = new Date(d1_date) ;
		var date2 = new Date(d2_date) ;
		var date_now = new Date() ;
		if(date2<date1){
			document.getElementById("alert_msg").innerHTML="<font color=\"red\"><b>時間區間錯誤 請重填</b></font>";
			document.getElementById("but").disabled = true ;
		}else if(date_now<date1 || date_now<date2){
			document.getElementById("alert_msg").innerHTML="<font color=\"red\"><b>搜尋不可超過現在時間 請重填</b></font>";
			document.getElementById("but").disabled = true ;
		}else{
			var elapsed = (date2.getTime() - date1.getTime())/1000/3600 ;
			var day = Math.floor(elapsed/24);
			if(day>62)
				document.getElementById("alert_msg").innerHTML="<font color=\"green\"><b>搜尋時間較長請注意</b></font>";
			else
				document.getElementById("alert_msg").innerHTML="";				
			document.getElementById("but").disabled = false ;
				
		}
  });
  
  
</script>